* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0%;
}

@import "../partials/body.scss";
@import "../partials/fotosEquipo.scss";
@import "../partials/footer.scss";
@import "../partials/main.scss";
@import "../partials/mediaqueries.scss";
@import "../partials/titulos.scss";
@import "../partials/extends.scss";
@import "../partials/botones.scss";