// @import "./extends.scss";
// .botonForm1 {
//     @extend %botonFormulario;
//     background-color: green;
//     color: white;
// }
// .botonForm2 {
//     @extend %botonFormulario;
//     background-color: red;
//     color: white;
// }