@import "./map.scss";
.footer {
    background-color: #011f4b;
    color: #f7f7f7;
    /* margin: 8px; */
    padding: 5px 0px;
    text-align: center;
    grid-area: footer;
    font-weight: map-get($pesoFuente, negrita);
}