.main {
    grid-area: main;
    margin: 0px 8px;
    .sectionClientesFlex {
        display: flex;
        justify-content: center;
        align-items: center;
        .divClientesGrid {
            display: grid;
            grid-template-columns: 20% 20% 20% 20% 20%;
        }
        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin: 16px 16px;
        }
    }
    .fotos {
        border-radius: 2rem;
    }
    .imagen {
        margin-right: 100px;
    }
}

.mainservicios {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    .gradiente {
        border: solid 5px rgb(243, 243, 243);
        border-radius: 70px;
    }
}